{% extends "app/layout.html" %}
{% block content %}
<br /><h1 class="h2">{{ title }} Видеоматериалы </h1>
<hr />
<div>
    <strong><h2>Распаковка, внешний обзор и установка DL Audio Gryphon Pro 4.150</h2></strong>
    <VIDEO src="/media/video2.mp4" controls="controls" width="800" height="600" poster="/media/prewiew1.png"></VIDEO>
</div>
<hr />
<div>
    
    <strong></strong><h2>Видео обзор, внешний вид и распаковка динамиков DL Audio Raven 165</h2></strong>
    <VIDEO src="/media/video1.mp4" controls="controls" width="800" height="600" poster="/media/prewiew2.jpg"></VIDEO>
</div>

{% endblock %}

